parameters:
	ignoreErrors:
		-
			message: "#^Caught class Symfony\\\\Component\\\\Process\\\\Exception\\\\ProcessStartFailedException not found\\.$#"
			count: 1
			path: src/Tools/EnvironmentUtility.php
