parameters:
    parallel:
        maximumNumberOfProcesses: 4
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Access to an undefined property PHPSu\\Config\\SshConfig::\$[a-zA-Z0-9_\*]+#'
